<section id="footer">
    <a class="social" href="https://www.facebook.com/paddyonthebinge"><i class="fa-brands fa-facebook"></i></a>
    <a class="social" href="https://www.instagram.com/paddyonthebinge"><i class="fa-brands fa-instagram"></i></a>
    <a class="social" href="https://open.spotify.com/album/39dTK4YKfLyCW7owRQjIy4?fbclid=IwY2xjawIzICBleHRuA2FlbQIxMQABHUW3QmDICrEvYWqlIWUZbpJvAEruzNQyjAupOOYhNIZ0yMQifRE8TWb5cA_aem_nqcg6JD4QpW5e4Z2aP92yQ"><i class="fa-brands fa-spotify"></i></a>
    <a class="social" href="https://www.youtube.com/@paddyonthebinge"><i class="fa-brands fa-youtube"></i></a>
</section>