<div id="navbar">
    <a class="section-title stylized-font" href="/" id="Logo">PADDY ON THE BINGE</a>
    {% if page.title == "Home" %}
        <a class="section-title active" href="/" id="Home">Home</a>
    {% else %}
        <a class="section-title" href="/" id="Home">Home</a>
    {% endif %}
    {% if page.title == "About" %}
        <a class="section-title active" href="about" id="About">About Us</a>
    {% else %}
        <a class="section-title" href="about" id="About">About Us</a>
    {% endif %}
    <a href="javascript:void(0);" class="burger" onclick="hamburger()">
        <i class="fa fa-bars"></i>
    </a>
</div>